body {
  background: rgba(7, 7, 7, 0.76);
  font: normal 15pt arial;
}
header {
  color: rgb(4, 231, 174);
  text-align: center;
}

section {
  background: rgb(68, 0, 255);
  border-radius: 20px;
  padding: 20px;
  width: 500px;
  margin: auto;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.596);
}

div {
  text-align: center;
  padding: 5px;
}

footer {
  color: rgb(139, 2, 252);
  text-align: center;
}
